extends ../partials/navbar
block main
  input.display-none#admin-json(type='text' value=JSON.stringify(admin))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Edit Admin')} - #{admin.email}
      .general-header-subtitle= __('Edit the admin information and reset the password.')
    input.general-header-search-input#admin-search-input(autocomplete='search' name='search' placeholder='Search by name or email' value='')
  .all-content-inner-wrapper
    .general-create-wrapper
      if !admin.is_completed
        .general-create-info= __('IMPORTANT! This account is not yet complete. Please complete all the required fields to allow the user access his / her account.')
      span.general-create-title= __('General Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Admin Email')
          .general-input-not-allowed= admin.email
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Admin Name')
          input.general-input#name(type='text' placeholder=__('Improve the UX for your admins') value=admin.name)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle= __('Admin Image')
          if admin.image && admin.image != '/res/images/default/admin.webp'
            label.general-image-input-wrapper(style='cursor: default')
              .general-image-input-image(style=`background-image: url(${admin.image}?${new Date().getTime()})`)
              svg.general-image-input-delete-button(fill='var(--warning-color)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512')
                path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
          else
            label.general-image-input-wrapper(style='cursor: pointer')
              input.display-none#image(type='file')
              .general-image-input-placeholder= __('Upload from your device')
      .general-create-line-wrapper
        span.general-create-subtitle.general-create-required= __('Admin Roles')
        .general-create-text-button#select-all-roles-button= __('Select All')
      .general-create-input-grid-wrapper
        each role in Object.keys(roles)
          .general-create-input-grid-each-item-wrapper
            .general-checkbox-input-wrapper.each-admin-role-button(id=role)
              .general-checkbox-input-box(class=(admin.roles.includes(role) ? 'general-checkbox-input-box-selected' : ''))
                svg.general-checkbox-input-icon(fill='var(--box-color)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .general-checkbox-input-text= roles[role]
      .general-create-button-wrapper
        span.general-create-error#update-error
        .general-create-button#update-button= __('Update')
      span.general-create-title= __('Security')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Reset Password')
          input.general-input#new-password(type='password' name='new-password' placeholder=__('Reset the password of the admin') autocomplete='new-password')
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Confirm Password')
          input.general-input#confirm-password(type='password' placeholder=__('Confirm the new password of the admin') autocomplete='new-password')
      .general-create-button-wrapper
        span.general-create-error#reset-password-error
        .general-create-button#reset-password-button= __('Reset Password')
        
        
