extends ../../partials/navbar
block main
  input.display-none#blog-json(type='text' value=JSON.stringify(blog))
  input.display-none#writing-json(type='text' value=JSON.stringify(writing))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Edit Writing')} - #{writing.title}
      .general-header-subtitle= __('Edit the writing information and translate the writing. Please use edit content page to change the content of the writing')
    input.general-header-search-input#writing-search-input(autocomplete='search' name='new-password' placeholder='Search by title or subtitle' value='')
  .all-content-inner-wrapper
    .general-create-wrapper
      if !writing.is_completed
        .general-create-info= __('IMPORTANT! This writing is not yet complete. Please complete all the required fields to start using this writing in the website.')
      span.general-create-title= __('General Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Title')
          input.general-input#title(type='text' placeholder=__('Enter the writing title. Must be unique.') value=writing.title)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer')
          .general-select-input-wrapper
            input.general-select-input-real-value#writer-id(value=(writing.writer ? writing.writer._id : ''))
            input.general-select-input-selected-value.do-not-listen#writer-search(type='text' autocomplete='off' name='new-password' placeholder=__('Type to search') value=(writing.writer ? writing.writer.name : ''))
            .general-select-input-choices-wrapper#writer-choices
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Subtitle')
          input.general-input#subtitle(type='text' placeholder=__('Enter a short subtitle to show on writing preview.') value=writing.subtitle)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Created At')
          input.general-input#date(type='date' placeholder=__('The date the writing is created') value=fromDateToHTMLInputString(writing.created_at))
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writing')} #{socialAccounts[social]} 
            input.general-input.social-account-input(type='text' id=social placeholder=__('URL address') value=writing.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-error
        .general-create-button#update-button= __('Update')
      span.general-create-title= __('Translations')
      .general-create-seperator
      span.general-create-text= __('If you do not add a translation for a language users will see english as the default option. You do not have to change all the given fields for any translation, just leave them as they are.')
      .general-create-button-wrapper
      span.general-create-title= __('Turkish Translation')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Turkish Title')
          input.general-input#turkish-title(type='text' placeholder=__('Enter the Turkish translation of the writing title. Must be unique.') value=writing.translations.tr.title)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Turkish Subtitle')
          input.general-input#turkish-subtitle(type='text' placeholder=__('Enter the Turkish translation of the writing subtitle.') value=writing.translations.tr.subtitle)
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writing Turkish')} #{socialAccounts[social]} 
            input.general-input.turkish-social-account-input(type='text' id='turkish-' + social placeholder=__('URL address') value=writing.translations.tr.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-turkish-error
        .general-create-button#update-turkish-button= __('Update Turkish')
      span.general-create-title= __('Russian Translation')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Russian Title')
          input.general-input#russian-title(type='text' placeholder=__('Enter the Russian translation of the writing title. Must be unique.') value=writing.translations.ru.title)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writing Russian Subtitle')
          input.general-input#russian-subtitle(type='text' placeholder=__('Enter the Russian translation of the writing subtitle.') value=writing.translations.ru.subtitle)
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writing Russian')} #{socialAccounts[social]} 
            input.general-input.russian-social-account-input(type='text' id='russian-' + social placeholder=__('URL address') value=writing.translations.ru.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-russian-error
        .general-create-button#update-russian-button= __('Update Russian')
      