extends ../../partials/navbar
block main
  input.display-none#blog-json(value=JSON.stringify(blog))
  input.display-none#copy-element
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Writings')} - #{blog.title}
      .general-header-subtitle= __('Add writings to this blog.')
    input.general-header-search-input#writing-search-input(type='text' placeholder='Search by title or subtitle' value=writings_search)
    .general-header-create-button#create-writing-button= __('Add Writing')
  .all-content-inner-wrapper
    .general-page-wrapper
      if writings_search
        span.general-page-search-text #{__('Showing results of the search:')} "#{writings_search}"
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if writings_page > 0
            a.general-page-prev-button(href=`/blog/writing?id=${blog._id}&page=${writings_page-1}${writings_search ? '&search=' + writings_search : ''}`) < #{__('Previous')}
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < #{__('Previous')}
          - for (let i = 0; i < parseInt(writings_count / writings_limit) + (writings_count % writings_limit ? 1 : 0); i += 1)
            if i != writings_page
              a.general-each-page-button(href=`/blog/writing?id=${blog._id}&page=${i}${writings_search ? '&search=' + writings_search : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (writings_page + 1) * writings_limit < writings_count
            a.general-page-next-button(href=`/blog/writing?id=${blog._id}&page=${writings_page+1}${writings_search ? '&search=' + writings_search : ''}`) #{__('Next')} >
          else
            span.general-page-next-button.general-page-next-button-not-allowed #{__('Next')} >
        span.general-page-info #{__('Showing')} #{writings_limit} #{__('results per page.')}
    a.deleted-writings-button(href='/blog/writing/delete?id=' + blog._id)= __('Deleted Writings')
    .general-items-wrapper
      each writing in writings
        .general-each-item-wrapper(id=writing._id)
          .general-each-item-title-wrappergi
            span.general-each-item-title= writing.title
            span.general-each-item-subtitle(style=(writing.is_completed ? '' : 'color: var(--warning-color)')) #{writing.is_completed ? '' : `(${__('not completed')})`}
          .general-each-item-buttons-wrapper
            .general-each-item-third-button.order-each-writing-button= __('Move Up')
            .general-each-item-fifth-button.copy-static-link-each-writing-button= __('Copy Static Link')
            .general-each-item-second-button.delete-each-writing-button= __('Delete')
            a.general-each-item-fourth-button(href=`/blog/writing/edit?id=${blog._id}&writing_id=${writing._id}`)= __('Informations')
            a.general-each-item-first-button(href=`/blog/writing/content?id=${blog._id}&writing_id=${writing._id}`)= __('Edit Content')