extends ./head
block content
  .all-wrapper
    .all-navbar-wrapper
      .all-navbar-header-wrapper
        if header.image
          .all-navbar-header-image(style=`background-image: ${header.image}`)
        .all-navbar-header-text-wrapper
          .all-navbar-header-title= header.title
          .all-navbar-header-subtitle= header.subtitle
      .all-navbar-content-wrapper
        each group in Objet.keys(header.menu)
          .each-navbar-group-wrapper
            .each-navbar-group-title → #{group}
            .each-navbar-group-links-wrapper
              a.each-navbar-group-link(href=header.menu[group].link)= header.menu[group].name
      .all-navbar-footer-wrapper
        .all-navbar-copyright Copyright #{(new Date).getFullYear()} - Yunus Gürlek
    .all-content-wrapper
      block main