extends ./head
block content
  .all-wrapper
    .all-navbar-wrapper
      .all-navbar-header-wrapper
        if navbar.image
          .all-navbar-header-image(style=`background-image: url(${navbar.image})`)
        .all-navbar-header-text-wrapper
          .all-navbar-header-title= navbar.title
          .all-navbar-header-subtitle= navbar.subtitle
          if navbar.logout
            a.all-navbar-header-logout-button(href=navbar.logout)= __('Log Out')
      .all-navbar-content-wrapper
        each group in Object.keys(navbar.menu)
          .each-navbar-group-wrapper
            .each-navbar-group-title → #{group}
            each button in navbar.menu[group]
              if button.selected
                span.each-navbar-group-link.each-navbar-group-link-selected= button.name
              else
                a.each-navbar-group-link(href=button.link class=(button.selected ? 'each-navbar-group-link-selected' : ''))= button.name
        .all-navbar-footer-wrapper
          .all-navbar-copyright Copyright #{(new Date).getFullYear()} - Yunus Gürlek
    .all-content-wrapper
      block main