extends ./head
block content
  .all-wrapper
    .all-navbar-wrapper
      .all-navbar-header-wrapper
        if admin
          input.display-none#admin-id(type='text' value=admin._id)
        if navbar.image
          .all-navbar-header-image(style=(navbar.image != '/res/images/default/admin.webp' ? `background-image: url(${navbar.image}?${new Date().getTime()});` : `background: url(${navbar.image}) no-repeat #FFF bottom;`))
            svg.all-navbar-header-image-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
              path(d='M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3V320c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 53 43 96 96 96H352c53 0 96-43 96-96V352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V352z')
            input.display-none#navbar-image-input(type='file')
        .all-navbar-header-text-wrapper
          .all-navbar-header-title= navbar.title
          .all-navbar-header-subtitle= navbar.subtitle
          if navbar.logout
            a.all-navbar-header-logout-button(href=navbar.logout)= __('Log Out')
      .all-navbar-content-wrapper
        each group in Object.keys(navbar.menu)
          .each-navbar-group-wrapper
            .each-navbar-group-title → #{group}
            each button in navbar.menu[group]
              if button.selected
                span.each-navbar-group-link.each-navbar-group-link-selected= button.name
              else
                a.each-navbar-group-link(href=button.link class=(button.selected ? 'each-navbar-group-link-selected' : ''))= button.name
        .all-navbar-footer-wrapper
          .all-navbar-copyright Copyright #{(new Date).getFullYear()} - Yunus Gürlek
    .all-content-wrapper
      block main