extends ../partials/navbar
block main
  input.display-none#tag-json(type='text' value=JSON.stringify(tag))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Edit Tag')} - #{tag.name}
      .general-header-subtitle= __('Edit the tag information and translate the tag.')
    input.general-header-search-input#tag-search-input(autocomplete='search' name='new-password' placeholder='Search by name or description' value='')
  .all-content-inner-wrapper
    .general-create-wrapper
      if !tag.is_completed
        .general-create-info= __('IMPORTANT! This tag is not yet complete. Please complete all the required fields to start using this tag in the website.')
      span.general-create-title= __('General Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Tag Name')
          input.general-input#name(type='text' placeholder=__('Enter the tag name.') value=tag.name)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Tag URL')
          input.general-input#url(type='text' placeholder=__('The URL that the tag will redirect to.') value=tag.url)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Tag Language')
          input.general-input#language(type='text' placeholder=__('Enter the tag language.') value=tag.language)
      .general-create-button-wrapper
        span.general-create-error#update-error
        .general-create-button#update-button= __('Update')
      