extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title= __('Tags')
      .general-header-subtitle= __('Create tags under node101 to access them from various models.')
    input.general-header-search-input#tag-search-input(type='text' placeholder='Search by name or description' value=tags_search)
  .all-content-inner-wrapper
    .general-page-wrapper
      if tags_search
        span.general-page-search-text #{__('Showing results of the search:')} "#{tags_search}"
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if tags_page > 0
            a.general-page-prev-button(href=`/tag?page=${tags_page-1}${tags_search ? '&search=' + tags_search : ''}`) < #{__('Previous')}
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < #{__('Previous')}
          - for (let i = 0; i < parseInt(tags_count / tags_limit) + (tags_count % tags_limit ? 1 : 0); i += 1)
            if i != tags_page
              a.general-each-page-button(href=`/tag?page=${i}${tags_search ? '&search=' + tags_search : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (tags_page + 1) * tags_limit < tags_count
            a.general-page-next-button(href=`/tag?page=${tags_page+1}${tags_search ? '&search=' + tags_search : ''}`) #{__('Next')} >
          else
            span.general-page-next-button.general-page-next-button-not-allowed #{__('Next')} >
        span.general-page-info #{__('Showing')} #{tags_limit} #{__('results per page.')}
    .general-items-wrapper
      each tag in tags
        .general-each-item-wrapper(id=tag._id)
          .general-each-item-title-wrapper
            span.general-each-item-title= tag.name
            span.general-each-item-subtitle(style=(tag.is_completed ? '' : 'color: var(--warning-color)')) #{tag.is_completed ? '' : `(${__('not completed')})`}
          .general-each-item-buttons-wrapper
            .general-each-item-third-button.order-each-tag-button= __('Move Up')
            .general-each-item-second-button.delete-each-tag-button= __('Delete')
            a.general-each-item-first-button(href='/tag/edit?id=' + tag._id)= __('Edit & Translate')