extends ../partials/navbar
block main
  input.display-none#writer-json(type='text' value=JSON.stringify(writer))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Edit Writer')} - #{writer.name}
      .general-header-subtitle= __('Edit the writer information and translate the writer.')
    input.general-header-search-input#writer-search-input(autocomplete='search' name='search' placeholder='Search by name' value='')
  .all-content-inner-wrapper
    .general-create-wrapper
      if !writer.is_completed
        .general-create-info= __('IMPORTANT! This writer is not yet complete. Please complete all the required fields to start using this writer in the website.')
      span.general-create-title= __('General Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer Name')
          input.general-input#name(type='text' placeholder=__('Enter the writer name.') value=writer.name)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer Title')
          input.general-input#title(type='text' placeholder=__('Enter the role of the writer in node101.') value=writer.title)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer Image')
          if writer.image
            label.general-image-input-wrapper(style='cursor: default')
              .general-image-input-image(style=`background-image: url(${writer.image}?${new Date().getTime()})`)
              svg.general-image-input-delete-button(fill='var(--warning-color)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512')
                path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
          else
            label.general-image-input-wrapper(style='cursor: pointer')
              input.display-none#image(type='file')
              .general-image-input-placeholder= __('Upload from your device.')
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writer')} #{socialAccounts[social]} 
            input.general-input.social-account-input(type='text' id=social placeholder=__('URL address') value=writer.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-error
        .general-create-button#update-button= __('Update')
      span.general-create-title= __('Translations')
      .general-create-seperator
      span.general-create-text= __('If you do not add a translation for a language users will see english as the default option. You do not have to change all the given fields for any translation, just leave them as they are.')
      .general-create-button-wrapper
      span.general-create-title= __('Turkish Translation')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer Turkish Title')
          input.general-input#turkish-title(type='text' placeholder=__('Enter the writer title in Turkish.') value=writer.translations.tr.title)
        .general-create-input-grid-each-item-wrapper
        .general-create-input-grid-each-item-wrapper
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writer Turkish')} #{socialAccounts[social]} 
            input.general-input.turkish-social-account-input(type='text' id='turkish-' + social placeholder=__('URL address') value=writer.translations.tr.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-turkish-error
        .general-create-button#update-turkish-button= __('Update Turkish')
      span.general-create-title= __('Russian Translation')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Writer Russian Title')
          input.general-input#russian-title(type='text' placeholder=__('Enter the writer title in Russian.') value=writer.translations.ru.title)
        .general-create-input-grid-each-item-wrapper
        .general-create-input-grid-each-item-wrapper
        each social in Object.keys(socialAccounts)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Writer Russian')} #{socialAccounts[social]} 
            input.general-input.russian-social-account-input(type='text' id='russian-' + social placeholder=__('URL address') value=writer.translations.ru.social_media_accounts[social])
      .general-create-button-wrapper
        span.general-create-error#update-russian-error
        .general-create-button#update-russian-button= __('Update Russian')
      