extends ../../partials/navbar
block main
  input.display-none#book-json(value=JSON.stringify(book))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Deleted Writings')} - #{book.title}
      .general-header-subtitle= __('See and restore deleted writings.')
    input.general-header-search-input#writing-search-input(type='text' placeholder='Search by title or subtitle' value=writings_search)
    .general-header-create-button#create-writing-button= __('Add Writing')
  .all-content-inner-wrapper
    .general-page-wrapper
      if writings_search
        span.general-page-search-text #{__('Showing results of the search:')} "#{writings_search}"
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if writings_page > 0
            a.general-page-prev-button(href=`/writing?page=${writings_page-1}${writings_search ? '&search=' + writings_search : ''}`) < #{__('Previous')}
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < #{__('Previous')}
          - for (let i = 0; i < parseInt(writings_count / writings_limit) + (writings_count % writings_limit ? 1 : 0); i += 1)
            if i != writings_page
              a.general-each-page-button(href=`/writing?page=${i}${writings_search ? '&search=' + writings_search : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (writings_page + 1) * writings_limit < writings_count
            a.general-page-next-button(href=`/writing?page=${writings_page+1}${writings_search ? '&search=' + writings_search : ''}`) #{__('Next')} >
          else
            span.general-page-next-button.general-page-next-button-not-allowed #{__('Next')} >
        span.general-page-info #{__('Showing')} #{writings_limit} #{__('results per page.')}
    a.all-writings-button(href='/book/writing?id=' + book._id)= __('All Writings')
    .general-items-wrapper
      each writing in writings
        .general-each-item-wrapper(id=writing._id)
          .general-each-item-title-wrapper
            span.general-each-item-title= writing.title
            span.general-each-item-subtitle(style='color: var(--warning-color)') (#{__('deleted')})
          .general-each-item-buttons-wrapper
            a.general-each-item-first-button.restore-each-writing-button= __('Restore')